<h2>Votar Por El Juego Del Año</h2>
<hr />

<div class="row row-cols-1 row-cols-md-3 g-4">

    <div class="col"
         *ngFor="let juego of juegos">

      <div class="card bg-dark">
        <img [src]="juego.url" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title text-light">{{ juego.name }}</h5>
          <p class="card-text text-light">Click aquí para votar por este juego.</p>

          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary">
                Votar
            </button>
          </div>

        </div>
      </div>
      
    </div>

</div>
